.card{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


    &__box{
        width: 100%;
        position: relative;
        background-color: $background;
        padding: 1.25rem 0;
    }

    &__title{
        text-align: center;
        font-family: $roboto-regular;
        font-size: 1rem;
        padding: 20px 0;
        border-bottom: 1px solid;
        color: $text;
        & span{
            color: $secundary;
            text-transform: uppercase;
        }

        @media(max-width: 768px){
            padding: 20px 20;
        }
    }

  

    &__linea-title{
        width: 100%;
    }

    &__content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 2.1rem 0;
    }
    &__article{
        width: 200px;
        padding: 0 35px;
        & p{
            margin:0 ;
        }
        @media(max-width:1079px){
            padding: 35px;
        }

        @media(max-width:768px){
            padding: 30px;
        }

        @media(max-width:536px){
            
            width: 300px;
        }

    }
    &__article-title{
        position: relative;
        color: $text;
        font-size: 1.2rem;
        font-family: $roboto-regular;
        text-transform: uppercase;
        margin: 0;

        &::before{
            content: '';
            display: block;
            width: 80px;
            height: 3px;
            background-color: $text; 
            position: absolute;
            top: -16px;
         
         }
  
    }

    &__article-paragrap{
        margin: 0;
        padding: 5px 0;
        & span{
            color: $primary;
        }
    }
}

