
.grid{
    display: grid;
    grid: repeat(3, 1fr) / repeat(auto-fill, minmax(250px, 1fr));
    height: 550px;
    grid-auto-flow: dense;
    grid-gap: 5px;

    @media (max-width:1200px){
        grid: repeat(4, 1fr) / repeat(auto-fill, minmax(150px, 1fr));
        height: 400px;
    }

    @media (max-width:768px){
        grid: repeat(6, 1fr) / repeat(auto-fill, minmax(150px, 1fr 2fr));
        height: 600px;
    }

    &__figure{
        width: 100%;
        background-size: cover;
        background-position: top;
    }

    &__item1{
        background-image: url(../images/01.jpg);
        grid-row: 2 span;
    }

    &__item2{
        background-image: url(../images/02.jpg);
        grid-column: 2 span;
        grid-row: 2 span;
    }
    &__item3{
        background-image: url(../images/03.jpg);
        grid-column: 2 span;
    }
    &__item4{
        background-image: url(../images/04.jpg);
    }
    &__item5{
        background-image: url(../images/05.jpg);
    }
    &__item6{
        background-image: url(../images/06.jpg);
        grid-row: 2 span;
    }
    &__item7{
        background-image: url(../images/07.jpg);
    }
    &__item8{
        background-image: url(../images/08.jpg);
        grid-column: 2 span;
    }
    &__item9{
        background-image: url(../images/09.jpg);
            grid-column: 2 span;
    }
    &__item10{
        background-image: url(../images/10.jpg);
        grid-column: 2 span;
    }
    &__item11{
        background-image: url(../images/11.jpg);
        grid-row: 2 span;
    }

    &__item12{
        width: 100%;
        height: 100%;
       background-color: $primary; 
       grid-column: 2 / 4;
       grid-row: 1 / 2;
    }
   

    
}