
.grid-container{
    background-color: $background;
}

.grid{
    display: grid;
    grid: repeat(8, 1fr) / repeat(auto-fill, minmax(150px, 1fr));
    height: 900px;
    grid-auto-flow: dense;
    grid-gap: 5px;
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
 
    @media(min-width:467px){
        grid: repeat(7, 1fr) / repeat(3, minmax(140px, 1fr));

    }

    @media(min-width:768px){
        grid: repeat(6, 1fr) / repeat(5, minmax(140px, 1fr));
        grid-auto-flow: dense;
    }

    @media(min-width:1200px){
        grid: repeat(12, 1fr) / repeat(5, minmax(140px, 1fr));
        grid-auto-flow: dense;
    }

    &__figure{
        width: 100%;
        background-size: cover;
        background-position: center;
        filter: grayscale(90%);
        transition: .3s;
        &:hover{
            filter: grayscale(0);  
            transform: scale(.9);
        }
    }

    &__item1{
        background-image: url(../images/01.jpg);
        grid-row: 2 span;  
        @media(min-width:467px){
            grid-row: 3 span;  
    
        }  

        @media(min-width:1200px){
            grid-row: 6 span;
        }
    }

    &__item2{
        background-image: url(../images/02.jpg);
        grid-column: 2 span;
        grid-row: 2 span;
        @media(min-width:1200px){
            grid-row: 4 span;
            background-position-y: 0;
        }
    }
    &__item3{
        background-image: url(../images/03.jpg);
        grid-column: 2 span;
        background-position: top;
        @media(min-width:467px){
            background-position-y: -55px; 
    
        } 

        @media(min-width:768px){
            background-position-y: 0;
            grid-row: 2 span;
        }  

        @media(min-width:1200px){
            grid-row: 4 span;
        }
    }
    &__item4{
        background-image: url(../images/04.jpg);
        @media(min-width:1200px){
            grid-row: 3 span;
        }
    }
    &__item5{
        background-image: url(../images/05.jpg);
        @media(min-width:1200px){
            grid-row: 3 span;
        }
    }
    &__item6{
        background-image: url(../images/06.jpg);
        grid-row: 2 span;
        @media(min-width:467px){
            grid-row: 2 span;  
            grid-column: 2 span;
        }  
        @media(min-width:1200px){
            grid-row: 4 span;
        }

    }
    &__item7{
        background-image: url(../images/07.jpg);
        @media(min-width:1200px){
            grid-row: 3 span;
        }
    }
    &__item8{
        background-image: url(../images/08.jpg);
        grid-column: 2 span;
        @media(min-width:467px){
            grid-column: 3 span;
            display: none;
        }
        @media(min-width:768px){
            grid-column: 3 span;
            display: block;
        }  

        @media(min-width:1200px){
            grid-column: 2 span;
            grid-row: 2 span;
          
        }
    }
    &__item9{
        background-image: url(../images/09.jpg);
            grid-column: 2 span;
            @media(min-width:467px){
                grid-column: 3 span;
                display: none;
            } 

            @media(min-width:768px){
                grid-column: 3 span;
                display: block;
            } 

            @media(min-width: 1200px){
                grid-column: 1 span;
                grid-row: 3 span;
            }
    }
    &__item10{
        background-image: url(../images/10.jpg);
        grid-column: 2 span;

        @media(min-width:1200px){
            grid-row: 3 span;
        }

        }
    
    &__item11{
        background-image: url(../images/11.jpg);
        grid-row: 2 span;
        @media(min-width:467px){
            grid-row: 1 span;
           
        } 
        @media(min-width:768px){
            grid-column: 2 span;
           
        } 
        @media(min-width:1200px){
            grid-row: 2 span;
            grid-column: 2 span;
        }
    }

    &__item12{
        width: 100%;
        height: 100%;
       background-color: $primary; 
       grid-column: 2 / 4;
       grid-row: 1 / 2;
       display: flex;
       justify-content: center;
       align-items: center;
       color: white;
       text-transform: uppercase;
       font-weight: bold;
       font-size: 2rem;
       font-family: $roboto-regular;
       filter: grayscale(0);
 

       @media(min-width:1200px){
        grid-row: 1 / 3;
    }


    }
   

    
}