
/* ----------------------- SECCIÓN DE IMAGEN DESTACADA ---------------------- */

.header{
    width: 100%;
    display: flex;
    &__content{
       width: 1280PX;
        margin: 0 auto;
        
    }

    &__box{
        display: flex;
        justify-content: center;
      
        img{
            width: 100%;
        }
    }

 
}

