

body{
    margin: 0;
    padding: 0;

.container{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background-color: $primary;
    box-sizing: border-box;
    width: 100%;
    @media(max-width:768px){
       padding: 0 20PX;
    }

   
    .logo{
        display: inline-block;
            & img{
               height: 50px;

            }
        }
   
    
.nav{
   
    float: right;
    @media(max-width:768px){
        left: -100%;
        position: absolute;
        top: 50px;
        width: 100%;
        height: calc(100vh - 50px) ;
        background-color: yellowgreen;
        &.active{
            left: 0;
        }
    }

    &__list{
        display: flex;
        padding: 0;
        margin: 0;

        @media(max-width:768px){
            display: block;
        }
    }

    &__item{
        list-style: none;
    }

    &__link{
        height: 50px;
        line-height: 50px;
        padding: 0 20px;
        text-decoration: none;
        color: white;
        display: block;
        &:hover{
            background-color: $text;
        }

        @media(max-width:768px){
            border-bottom: 2px solid rgba(0,0,0,0.2);
        }
    }


} 


    & .menu-toggle{
    float: right;
    line-height: 50px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    display: none;

    @media(max-width: 768px){
    display: block;
    }

    }







 }

}