
body{
    margin: 0;
    padding: 0;
    
.container{
    border-top: 5px solid $primary;
    top: 0;
    left: 0;
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    @media(max-width:768px){
       padding:0;
       background-color: $primary;
    }

    .box{
        width: 1280px;
        margin: 0 auto;
        @media(max-width: 768px){
            width: 100%;
        }
    }

   
    .logo{
        display: inline-block;
        position: absolute;
            & img{
               height: 50px;

            }
        }
   
    
.nav{
   
    float: right;
    @media(max-width:768px){
        left: -100%;
        position: absolute;
        top: 50px;
        width: 100%;
        height: calc(100vh - 55px);
        background-color: $text;
        transition: .3s ease all;
        &.active{
            left: 0;
        }
    }

    &__list{
        display: flex;
        padding: 0;
        margin: 0;

        @media(max-width:768px){
            display: block;
        }
    }

    &__item{
        list-style: none;
    }

    &__link{
        height: 50px;
        line-height: 50px;
        padding: 0 20px;
        text-decoration: none;
        color: white;
        display: block;
        color: $text;
        text-transform: uppercase;
        font-family:$roboto-regular;
        &:hover{
            background-color: $primary;
            color: white;
        }

        @media(max-width:768px){
            border-bottom: 1px solid white;
            color: white;
            &:hover{
                background-color: $secundary;
                color: white;
            }
        }
    }


} 


    & .menu-toggle{
    float: right;
    line-height: 51px;
    font-size: 24px;
    color:white;
    cursor: pointer;
    display: none;

    @media(max-width: 768px){
    display: block;
    padding-right: 20px;
    }

    }


 }

}